.projekts-dropdown {
	background-color: black;
}

.projekts-dropdown ul {
	display: none;
	padding: 0;
	margin: 0;
}

.projekts-dropdown ul li {
	display: block;
	padding: 5px 0;
}

.projekts-dropdown ul li a {
	display: block;
	text-decoration: none;
	color: #9d9d9d;
}