.main-wrapper {
	margin: 10px 0;
}

.main-checkbox {
	display: inline;
	margin-right: 5px !important;
	
}

.main-title {
	display: inline;
	font-size: 22px;
}

.main-title:hover {
	cursor: pointer;
}

.main-description {
	display: none;
	margin-left: 20px;
}

.main-add-submain {
	text-decoration: none;
    font-size: 26px;
    margin: 0 5px;
    color: #337ab7;
    padding: 0 5px;
}

.main-add-submain:hover {
	text-decoration: none;
}
