{% extends 'base.html.twig' %}

{% block body %}

		<a class="btn btn-primary" href="{{ path('main_new', { 'projektId': projekt.id }) }}">Add Main</a>

		<div class="projekt-show-wrapper">
			<h1 class="projekt-name">{{ projekt.name }}</h1>
			<p class="projekt-description">{{ projekt.description }}</p>
		</div>

	{{ render(controller('ProjektBundle:Main:index', {'projektId': projekt.id })) }}

	
{% endblock %}