{% extends 'base.html.twig' %}

{% block body %}

		<a href="{{ path('main_new', { 'projektId': projekt.id }) }}">Add Main</a>

	<h1>{{ projekt.name }}</h1>
	{{ render(controller('ProjektBundle:Main:index', {'projektId': projekt.id })) }}

	
{% endblock %}