{% for submain in submains %} 
	<div style="margin-left: 40px" >
		<h5>{{ submain.name }}</h5>
		<p>{{ submain.description }}</p>
		{{ render(controller('ProjektBundle:Submain:index', {'submainId': submain.id })) }}
	</div>
{% endfor %}
