{% for submain in submains %} 
	<div style="margin-left: 20px" >
		<h5 class="submain-title">{{ submain.name }} <a href="{{ path('submain_new', { 'submainId': submain.id }) }}">+</a></h5>
		<p class="submain-description">{{ submain.description }}</p>
		{{ render(controller('ProjektBundle:Submain:index', {'submainId': submain.id })) }}
	</div>
{% endfor %}


