{% for main in mains %}

		<h3>{{ main.name }} <span><a href="{{ path('submain_new', { 'mainId': main.id }) }}">+</a></span></h3>

	
	{{ render(controller('ProjektBundle:Submain:index', {'mainId': main.id })) }}

{% endfor %}