{% extends 'base.html.twig' %}

{% block body %}

	{% for projekt in projekts %}

		<h1><a href="{{ path('projekt_show', { 'id': projekt.id }) }}">{{ projekt.name }}</a></h1>

	{% endfor %}

{% endblock %}